<div class="customer-top-panel pt-3.5">
    <form class="max-w-lg mx-auto ">
    <div class="flex">

        <div class="relative w-full">
            <input type="search" id="search-dropdown"
                class="rounded-xl block p-2.5 w-full z-20 text-sm customer-search-bg cus-search-input" 
                placeholder="Search" required />
            <button type="submit"
                class="absolute top-0 end-0 mr-2 p-2.5 text-sm font-medium h-full text-white rounded-r-xl customer-search-bg">
                <i class='bx bx-search bx-tada-hover bx-sm' style="color:#ADAEB5"></i>
                <span class="sr-only">Search</span>

                
            </button>

            
        </div>
    </div>
</form>
</div>